p{font-family: Arial, Helvetica, sans-serif;
text-align:justify;}
h1{text-align: center; font-family: Arial, Helvetica, sans-serif;} 
h2{background-color: green;}
td{padding: 10px;border: 4px solid gray;}
th{padding: 10px;border: 4px solid gray;}
table{border-collapse:collapse ;
border:black}
form {width: 100px;
padding: 5px;
}
input,
textarea,
select {
  width: 450px;
  margin-bottom: 10px;
  
}
button[type="submit"],
input[type="submit"] {
  background-color: #007bff; /* Kolor tła (np. niebieski) */
  color: white; /* Kolor tekstu (np. biały) */
  border: none; /* Usuwa domyślną ramkę */
  padding: 10px 20px; /* Wewnętrzny margines */
  border-radius: 5px; /* Zaokrąglenie rogów */
  cursor: pointer; /* Zmienia kursor na wskaźnik */
  font-size: 16px; /* Rozmiar czcionki */
  transition: background-color 0.3s ease; /* Dodaje płynność dla efektu hover */
}