p{font-family: Arial, Helvetica, sans-serif;
text-align:justify;}
h1{text-align: center; font-family: Arial, Helvetica, sans-serif;} 
h2{background-color: green;}
td{padding: 10px;border: 4px solid gray;}
th{padding: 10px;border: 4px solid gray;}
table{border-collapse:collapse ;
border:black}
form {width: 100px;
padding: 5px;
}
input,
textarea,
select {
  width: 450px;
  margin-bottom: 10px;
  
}